/** Main CSS file for index.html on site. */

/** Prevent 'over-scrolling' and set margins to page size */

html {
    /*overflow: hidden;*/
    height: auto;
    min-height: 100%;
}

body {
	margin: 0;
    height: auto;
    min-height: 100%;
}


/** Heading Bar */

.headingContainer .tablink {
    background-color: rgb(102,117,127);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1% 1.25%;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    width: 33.3333333333%;
}

.tablink:hover {
    background-color: rgb(122,137,147);
}


/** Heading Section and Typed Style */

.headingContainer {
	position: relative;
    line-height: 0;
}

.headingContainer img {
    height: auto;
    width: 100%;
}

.headingContainer .elWrapper {
    top: 15%;
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    font-family: : 'Roboto', sans-serif;
    font-size: 200%;
}

.typed-cursor {
    color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.grad {

}

/** All Section Headings */

.sectionHeading {
    color: rgb(200, 200, 200);
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    padding-top: 2%;
    padding-left: 2%;
    margin: 0;
    text-align: left;
}

/** About Section Style */

.aboutDiv {
    background-color: rgb(250,250,250);
    overflow-y: auto;
}

.aboutPara {
    color: rgb(200, 200, 200);
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    padding-left: 2%;
    padding-right: 2%;
}

/** Contact section style */

.contactDiv {
    background-color: rgb(250,250,250);
    overflow-y: auto;
}

.formWord {
    color: rgb(200, 200, 200);
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
}

/* Email form */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(250, 250, 250);
    padding: 1% 2%;
    border-radius: 5px;
    border-color: #55ACEE;
    border-style: solid;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #55ACEE;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #55ACEE;
    color: rgb(250, 250, 250);
}

/* Add a background color and some padding around the form */
.container {
    padding: 2%;
}


/* Style all icons */
.fa {
    padding-bottom: 1.5%;
    padding-right: 2%;
    text-decoration: none;
    float: right; 
}

.fa:hover {
    opacity: 0.7;
}

.iconContent {
    margin: 0;
    padding-right: 0;
}

/* Facebook */
.fa-facebook-square {
    color: #3B5998;
    padding-right: 2%;
}

/* Twitter */
.fa-twitter-square {
    color: #55ACEE;
}

/* Github */
.fa-github-square {
    color: #222222;   
}

/* Linkedin */
.fa-linkedin-square {
    color: #007BB5;
}

/* Resume */
.resumeButton {
    background-color: rgb(250, 250, 250);
    padding: 1% 2%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    float: right;
    border-radius: 5px;
    border-color: #8D66C7;
    border-style: solid;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #8D66C7;
}

.resumeButton:hover {
    background-color: #8D66C7;
    color: rgb(250, 250, 250);
}

/** Watermark, end of file */
.watermark {
    font-family: 'Roboto', sans-serif;
    font-size: 75%;
    text-align: center;
    background-color: rgb(250, 250, 250);
    color: rgb(200, 200, 200);
    margin: 0;
    padding-bottom: 1%;
}





