/** Main CSS file for index.html on site. */

/** Prevent 'over-scrolling' and set margins to page size */

html {
    overflow-x: hidden;
    height: auto;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
}

body {
	margin: 0;
    height: auto;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
}

/** Heading Section and Typed Style */
.headingContainer {
	position: relative;
    line-height: 0;
}

.headingContainer img {
    height: auto;
    width: 100%;
}

/** Name header */
.name {
    position: absolute;
    top: 8%;
    padding-left: 28%;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%; 
    color: rgb(250, 250, 250);
}


/** Scroll button */
.headingContainer a {
    position: absolute;
    top: 17%;
    left: 47.5%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: rgb(250, 250, 250);
    font-family: "Open Sans", sans-serif;
    font-size: 150%; 
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 5.5%;
}

.headingContainer a:hover {
  opacity: .5;
}

.headingContainer a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(250, 250, 250);
    border-bottom: 1px solid rgb(250, 250, 250);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.headingContainer a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.headingContainer a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.headingContainer a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/** Typed content */
.headingContainer .elWrapper {
    top: 11%;
    left: 60.8%;
    color: rgb(250, 250, 250);
    width: 100%;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
}

.typed-cursor {
    color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/** All Section Headings */
.sectionHeading {
    color: rgb(170, 170, 170);
    font-family: 'Open Sans', sans-serif;
    font-size: 250%;
    padding-top: 2%;
    padding-left: 2%;
    margin: 0;
    text-align: left;
}

/** About Section Style */
.aboutDiv {
    background-color: rgb(250,250,250);
    overflow-y: auto;
}

.aboutPara {
    color: rgb(170, 170, 170);
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    padding-left: 2%;
    padding-right: 2%;
}

/** Contact section style */
.contactDiv {
    background-color: rgb(250,250,250);
    overflow-y: auto;
}

.formWord {
    color: rgb(170, 170, 170);
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
}

/* Email form */
input[type=text], textarea {
    width: 100%; 
    padding: 0.5%; 
    border-color: #ccc;
    border-width: 2px;
    border-radius: 4px; 
    border-style: solid;
    box-sizing: border-box; 
    margin-top: 0.75%; 
    margin-bottom: 1.5%;
    color: rgb(180, 180, 180);
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]::placeholder, textarea::placeholder {
    color: rgba(180, 180, 180, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

input[type=submit] {
    background-color: rgb(250, 250, 250);
    padding: 1% 2%;
    border-radius: 5px;
    border-color: #55ACEE;
    border-style: solid;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #55ACEE;
}

input[type=submit]:hover {
    background-color: #55ACEE;
    color: rgb(250, 250, 250);
}

.container {
    padding: 2%;
}

/* Style all icons */
.fa {
    padding-bottom: 1.5%;
    padding-right: 2%;
    text-decoration: none;
    float: right; 
}

.fa:hover {
    opacity: 0.7;
}

.iconContent {
    margin: 0;
    padding-right: 0;
}

/* Facebook */
.fa-facebook-square {
    color: #3B5998;
    padding-right: 2%;
}

/* Twitter */
.fa-twitter-square {
    color: #55ACEE;
}

/* Github */
.fa-github-square {
    color: #222222;   
}

/* Linkedin */
.fa-linkedin-square {
    color: #007BB5;
}

/* Resume */
#resumeButton {
    background-color: rgb(250, 250, 250);
    padding: 1% 2%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    float: right;
    border-radius: 5px;
    border-color: #8D66C7;
    border-style: solid;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: #8D66C7;
}

#resumeButton:hover {
    background-color: #8D66C7;
    color: rgb(250, 250, 250);
}

/** Watermark, end of file */
.watermark {
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    text-align: center;
    background-color: rgb(250, 250, 250);
    color: rgb(170, 170, 170);
    margin: 0;
    padding-bottom: 1%;
}





